@import "../../global.scss";

.about{
    background-color: #fff;
    overflow: hidden;
    position: relative;
    

    .myphoto{
        width: 15%;
        height: 33%;
        border-radius: 50%;
        position: absolute;
        top: 2%;
        left: 17%;
        z-index: 2;

        @include mobile{
            width: 30%;
            height: 20%;
            top: 6%;
            left: 15%;
          }
    }

    .wrapper{
        position: relative;
        width: 80%;
        height: 80%;
        background-color: white;
        margin: auto;
        margin-top: 5%;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 3px 3px 10px black;

        @include mobile{
            width: 90%;
            height: 90%;
        }

     .info{
           position: absolute;
           top: 40%;
           left: 4.8%;
           font-family: cursive;
           color: rgba(0, 0, 0, 0.774);

           @include mobile{
             top: 2%;
            left: 48%;
            margin: 0;
           }

        h3{
           margin-bottom: 10px;
           font-size: 40px;
           color: $maincolor;

           @include mobile{
            margin-bottom: 5px;
            font-size: 30px;
           }
        }

        h6{
            margin-bottom: 10px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.527);
            font-weight: normal;

            @include mobile{
                margin-bottom: 5px;
                font-size: 15px;
            }
           
            .icons{
                width: 20px;
                height: 20px;
                padding-right: 2px;
                opacity: 0.8;
             }
           
        }
           .imgContainer{
               width: 170px;
              display: flex;
              justify-content: center;
               
             img{
                width: 20px;
                height: 20px;
                margin: 10px 20px;
                box-shadow: 3px 3px 5px black;
                transform: scale(1);
                transition: 0.3s ease-in-out;
              }
 
              img:hover{
                transform: scale(1.05);
               }
            }
       }
     .btn{
         position: absolute;
         top: 5%;
         left: 50%;
         display: flex;
         width: 45%;
        
         align-items: center;
         justify-content: center;

         @include mobile{
             width: 80%;
             top: 35%;
             left: 10%;
            }
         
         button{
                color: white;
                margin: 2%;
                padding:  0px 20%;
                background-color: $maincolor;
                border: none;
                box-shadow: 0px 2px 5px black;
                border-radius: 5px;
                cursor: pointer;

                @include mobile{
                     margin: 10px;
                     padding: 0% 20%;
                }

                .pictures{
                    width: 20px;
                    height: 20px;
                    margin-right: 2px;
                    filter: brightness(0) invert(1);
                }

                
            }

           button:focus{
            
               background-color: white;
               color: rgb(100, 149, 237);
               border: none;
           }
           button:focus .pictures{      
               filter: invert(68%) sepia(37%) saturate(5865%) hue-rotate(195deg) brightness(98%) contrast(89%);
           }
        } 

        .information{
            position: absolute;
            top: 25%;
            left: 50%;
            width: 40%;
            height: 50%;
            border-radius: 20px;
            font-family: cursive;
            color: $maincolor;
            padding: 20px;
            background-color: white;
            box-shadow: 3px 3px 10px black;
               
            @include mobile{
                top: 50%;
                left: 10%;
                width: 77%;
                height: 40%;
                overflow: hidden;
            }

            .logo{
                
                width: 80px;
                height: 60px;
                margin: 10px 20px;
               
            }
        }

        
    }
}
